* text=auto

*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.gradle text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.sh text eol=lf

*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.mp4 binary
*.mov binary
